body {
  background-color: #222;
  text-align: center;
}


#input_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


#input {
  background-color: #444;
  border: solid 1px #666;
  width: 20em;
  height: 3em;
  color: white;
  font-size: 100%;
  margin-right: 1em;
  margin-left: 1em;
}


#color_tooltip {
  width: 3em;
  height: 3em;
  background-color: #ccc;
}


#new_game {
  height: 3em;
  width: 8em;
  background-color: #444;
  padding: 1em;
  color: white;
  border: solid 1px #666;
}


#alert_text {
  color: white;
  font-size: 1em;
  opacity: 0;
}
